<footer class="p-4 bg-primary-400 sm:p-6 dark:bg-gray-800 rounded-t-3xl ">
  <div class="mx-auto max-w-screen-xl">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <a href="/" class="flex items-center">
          <img src="img/1.png" class="mr-3 w-32 hidden dark:block" alt="1080P Logo" />
        </a>
        <a href="/" class="flex items-center">
          <img src="img/2.png" class="mr-3 w-32 block dark:hidden " alt="1080P Logo" />
        </a>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Information</h2>
          <ul class="text-gray-600 dark:text-gray-400">
            <li class="mb-4">
              <a href="/about" class="hover:underline">About Us</a>
            </li>
            <li>
              <a href="/copyright" class="hover:underline">Copyright</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
          <ul class="text-gray-600 dark:text-gray-400">
            <li class="mb-4">
              <a href="/privacy" class="hover:underline">Privacy Policy</a>
            </li>
            <li>
              <a href="/terms" class="hover:underline">Terms & Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 1080p Technology™</a>. All
        Rights Reserved.
      </span>
    </div>
  </div>
</footer>