# Ignore files related to API keys
package-lock.json
.env
groupproject-fe/public/style/output.css
.vscode/settings.json
groupproject-fe/node_modules/

groupproject-be/node_modules/
groupproject-fe/scratch/1080P_TOKEN
groupproject-fe/scratch/1080P_USERID
groupproject-fe/scratch/1080P_USERID
