<section class="container max-w-4xl my-4 p-4 mx-auto flex flex-col gap-5 bg-gray-800 border-gray-700 rounded-3xl">
    <div class="flex flex-col">
        <h1 class="text-center font-bold text-3xl">Terms and Conditions</h1>
        <p class="text-center mt-2 md:text-left">
            Welcome to 1080p Technology. These Terms and Conditions govern your use of our website and
            services. By accessing or using our website and services, you agree to comply with and be bound by these
            Terms. Please read them carefully.
        </p>
    </div>
    <div class="flex flex-col">
        <h1 class="text-center font-bold text-3xl">Acceptance of Terms</h1>
        <p class="text-center mt-2 md:text-left">
            By using our website and services, you agree to be legally bound by these Terms. If you do not agree with
            these Terms, please do not use our website or services.
        </p>
    </div>
    <div>
        <h1 class="text-center font-bold text-3xl">Privacy</h1>
        <p class="text-center mt-2 md:text-left">
            Your use of our website and services is also governed by our Privacy Policy, which can be found
            <a href="/privacy">here</a>. By using our website and services, you consent to the practices
            outlined in our Privacy Policy.
        </p>
    </div>
    <div>
        <h1 class="text-center font-bold text-3xl">User Accounts</h1>
        <p class="text-center mt-2 md:text-left">
            To access certain features of our website and make purchases, you may need to create a user account. You are
            responsible for maintaining the confidentiality of your account information, including your username and
            password. You agree to notify us immediately of any unauthorized use of your account
        </p>
    </div>
    <div>
        <h1 class="text-center font-bold text-3xl">Products and Pricing</h1>
        <p class="text-center mt-2 md:text-left">
            Our website offers a selection of electronics and accessories for sale. We make every effort to provide
            accurate product descriptions and prices. However, we reserve the right to correct any errors or
            inaccuracies and to change or update product information at any time without prior notice.
        </p>
    </div>
    <div>
        <h1 class="text-center font-bold text-3xl">Orders and Payment</h1>
        <p class="text-center mt-2 md:text-left">
            When you place an order through our website, you are making an offer to purchase the products in your order.
            We may accept or decline your order for any reason, including product availability or pricing errors.
            Payment is required at the time of purchase. All payments are processed securely, and your payment
            information is subject to our Privacy Policy.
        </p>
    </div>
    <div>
        <h1 class="text-center font-bold text-3xl"> User Conduct</h1>
        <p class="text-center mt-2 md:text-left">
            You agree to use our website and services in a manner that is lawful and complies with these Terms. You are
            prohibited from engaging in any conduct that may:
        </p>
        <ul class="text-center mt-2 md:text-left md:list-disc md:pl-5">
            <li>Violate any applicable laws or regulations.</li>
            <li>Infringe upon the rights of others.</li>
            <li>Interfere with or disrupt the operation of our website</li>
            <li>Transmit or post harmful or malicious content</li>
        </ul>
    </div>
    <div>
        <h1 class="text-center font-bold text-3xl">Contact Us</h1>
        <p class="text-center mt-2 md:text-left">
            If you have any questions, concerns, or requests regarding your privacy or this Privacy Policy, please
            contact us at:
            <a href="https://github.com/Puppychan/COSC2430_GroupProject" class="font-bold">1080p Technology</a>
        </p>
    </div>
</section>