<section class="overflow-hidden bg-gray-900 py-11">
  <div class="max-w-6xl px-4 py-4 mx-auto lg:py-8 md:px-6">
    <div class="flex flex-wrap -mx-4">
      <div class="w-full mb-8 md:w-1/2 md:mb-0">
        <div class="sticky top-0 z-50 overflow-hidden ">
          <div class="relative mb-6 lg:mb-10 lg:h-2/4 ">
            <img src="<%= product.image %>" alt="Main Product Image" class="object-cover w-full lg:h-full ">
          </div>
        </div>
      </div>
      <div class="w-full px-4 md:w-1/2 ">
        <div class="lg:pl-20">
          <div class="mb-8 ">
            <h2 class="max-w-xl mb-6 text-2xl font-bold text-gray-400 md:text-4xl">
              <%= product.name %>
            </h2>
            <p class="inline-block mb-6 text-4xl font-bold text-gray-400 ">
              <span>
                <%= product.price %>
              </span>
            </p>
            <p class="max-w-md text-gray-400">
              <%= product.description %>
            </p>
          </div>
          <div class="w-32 mb-8">
            <label for="" class="block text-xl font-semibold text-gray-400">
              <span class="border-b border-gray-600">Quantity</span>
            </label>
            <div class="relative flex flex-row w-full h-10 mt-6 bg-transparent rounded-lg">
              <button class="w-20 h-full text-gray-400 rounded-l outline-none cursor-pointer hover:bg-gray-700 dark:text-gray-400 hover:text-gray-700 bg-gray-900 ">
                <span class="m-auto text-2xl font-thin">-</span>
              </button>
              <input type="number" class="flex items-center w-full font-semibold text-center placeholder-gray-400 bg-gray-900 outline-none text-gray-400 focus:outline-none text-md hover:text-black" placeholder="1">
              <button class="w-20 h-full  rounded-r outline-none cursor-pointer hover:bg-gray-700 text-gray-400 bg-gray-900 hover:text-gray-700">
                <span class="m-auto text-2xl font-thin">+</span>
              </button>
            </div>
          </div>
          <div class="flex flex-wrap items-center gap-4">
            <button class="font-semibold flex items-center justify-center w-full p-4 rounded-md lg:w-2/5 text-gray-200 border-blue-600 bg-blue-600 hover:bg-blue-700 hover:border-blue-700 hover:text-gray-300">
              Add to cart</button>
            <button class="font-semibold flex items-center justify-center w-full p-4 rounded-md lg:w-2/5 text-gray-200 border-blue-600 bg-blue-600 hover:bg-blue-700 hover:border-blue-700 hover:text-gray-300">
              Buy Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>