<section>
    <div class="bg-gray-800 border-gray-700 py-3 px-9 my-6 rounded-lg mx-auto max-w-2xl lg:py-6">
        <h1 class="text-center font-bold text-3xl my-4">
            <%= title %>
        </h1>
        <form action="#">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-white">Product
                        Name</label>
                    <input type="text" name="name" id="name"
<<<<<<< HEAD
                        class="bg-gray-50 border border-gray-300 text-gray-900 invalid:border-red-500 invalid:text-red-600 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Type product name" minlength="10" maxlength="20" required="" value="<%= product.name %>">
=======
                        class="border invalid:border-red-500 invalid:text-red-600 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"
                        placeholder="Type product name" minlength="10" maxlength="20" required="">
>>>>>>> front-luan
                    <p class="text-xs pt-2 text-gray-400">Must be 10 to 20 characters</p>
                </div>
                <div class="sm:col-span-2">
                    <label for="price"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                    <input type="number" name="price" id="price"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="$2999" step="0.01" min="0" required="">
                    <p class="text-xs pt-2 text-gray-400">Must be a positive number</p>
                </div>
                <div class=" sm:col-span-2">
                    <label for="stock"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock</label>
                    <input type="number" name="stock" id="stock"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="20" min="0" required="">
                    <p class="text-xs pt-2 text-gray-400">Must be a positive number</p>
                </div>
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
                        Image</label>
                    <input type="file" name="image" id="image"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                </div>
                <div class="sm:col-span-2">
                    <label for="description"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <textarea id="description" rows="8"
                        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                        placeholder="Your description here" maxlength="500"></textarea>
                    <p class="text-xs pt-2 text-gray-400">Maximum 500 characters</p>
                </div>
            </div>
            <button type="submit"
                class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Update product
            </button>
            <span> <a href="#"
                    class="bg-red-600 text-white text-sm font-medium inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-center rounded-lg hover:bg-red-700">Delete
                    product</a></span>
        </form>
    </div>
</section>