<div class="overflow-x-auto flex justify-center items-center flex-col">
    <h1 class="text-center font-bold text-3xl my-4">
        <%= title %>
    </h1>
    <table class="w-9/12 text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-4 py-3">Order ID</th>
                <th scope="col" class="px-4 py-3">Name</th>
                <th scope="col" class="px-4 py-3">Phone Number</th>
                <th scope="col" class="px-4 py-3">Products</th>
                <th scope="col" class="px-4 py-3">Total Price</th>
                <th scope="col" class="px-4 py-3">Status</th>
                <th scope="col" class="px-4 py-3">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr class="border-b dark:border-gray-700">
                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a
                        href="#" class="text-blue-600 hover:text-blue-700">#001</a></th>
                <td class="px-4 py-3">Tôn Thất Hữu Luân</td>
                <td class="px-4 py-3">0942506170</td>
                <td class="px-4 py-3">Samsung Galaxy S23 Ultra 8GB/128GB</td>
                <td class="px-4 py-3">$1200</td>
                <td class="px-4 py-3">
                    <div
                        class="text-white bg-blue-600 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Active</div>
                </td>
                <td class="flex flex-col gap-3"><a href="#"
                        class="text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mt-2">Mark
                        as Completed</a>
                    <a href="#"
                        class="text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-2">Mark
                        as Canceled</a>
                </td>
            </tr>
            <tr class="border-b dark:border-gray-700">
                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a
                        href="#" class="text-blue-600 hover:text-blue-700">#002</a></th>
                <td class="px-4 py-3">Nguyễn Vinh Gia Bảo</td>
                <td class="px-4 py-3">0942506170</td>
                <td class="px-4 py-3">iPhone 14 Pro Max 6GB/256GB</td>
                <td class="px-4 py-3">$1500</td>
                <td class="px-4 py-3">
                    <div
                        class="text-white bg-green-600 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Delivered</div>
                </td>
            </tr>
            <tr class="border-b dark:border-gray-700">
                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white"><a
                        href="#" class="text-blue-600 hover:text-blue-700">#003</a></th>
                <td class="px-4 py-3">Lê Viết Bảo</td>
                <td class="px-4 py-3">0942506170</td>
                <td class="px-4 py-3">RavPower 100W GaN Charger</td>
                <td class="px-4 py-3">$50</td>
                <td class="px-4 py-3">
                    <div
                        class="text-white bg-red-600 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2">
                        Cancelled</div>
                </td>
            </tr>
        </tbody>
    </table>
</div>