<section class="overflow-hidden bg-gray-900 py-11">
    <div class="max-w-6xl px-4 py-4 mx-auto lg:py-8 md:px-6">
        <div class="flex flex-wrap -mx-4">
            <div class="w-full mb-8 md:w-1/2 md:mb-0">
                <div class="sticky top-0 z-50 overflow-hidden ">
                    <div class="relative mb-6 lg:mb-10 lg:h-2/4 ">
                        <img src="https://i.postimg.cc/6qcPhTQg/R-18.png" alt=""
                            class="object-cover w-full lg:h-full ">
                    </div>
                    <div class="flex-wrap hidden md:flex ">
                        <div class="w-1/2 p-2 sm:w-1/4">
                            <a href="#" class="block border border-blue-300 hover:border-blue-300">
                                <img src="https://i.postimg.cc/6qcPhTQg/R-18.png" alt=""
                                    class="object-cover w-full lg:h-20">
                            </a>
                        </div>
                        <div class="w-1/2 p-2 sm:w-1/4">
                            <a href="#" class="block border border-transparent hover:border-blue-300">
                                <img src="https://i.postimg.cc/6qcPhTQg/R-18.png" alt=""
                                    class="object-cover w-full lg:h-20">
                            </a>
                        </div>
                        <div class="w-1/2 p-2 sm:w-1/4">
                            <a href="#" class="block border border-transparent hover:border-blue-300">
                                <img src="https://i.postimg.cc/6qcPhTQg/R-18.png" alt=""
                                    class="object-cover w-full lg:h-20">
                            </a>
                        </div>
                        <div class="w-1/2 p-2 sm:w-1/4">
                            <a href="#" class="block border border-transparent hover:border-blue-300">
                                <img src="https://i.postimg.cc/6qcPhTQg/R-18.png" alt=""
                                    class="object-cover w-full lg:h-20">
                            </a>
                        </div>
                    </div>
                    <div class="px-6 pb-6 mt-6 border-t border-gray-400 ">
                        <div class="flex flex-wrap items-center mt-6">
                            <span class="mr-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="w-4 h-4 text-gray-400 bi bi-truck"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M0 3.5A1.5 1.5 0 0 1 1.5 2h9A1.5 1.5 0 0 1 12 3.5V5h1.02a1.5 1.5 0 0 1 1.17.563l1.481 1.85a1.5 1.5 0 0 1 .329.938V10.5a1.5 1.5 0 0 1-1.5 1.5H14a2 2 0 1 1-4 0H5a2 2 0 1 1-3.998-.085A1.5 1.5 0 0 1 0 10.5v-7zm1.294 7.456A1.999 1.999 0 0 1 4.732 11h5.536a2.01 2.01 0 0 1 .732-.732V3.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5v7a.5.5 0 0 0 .294.456zM12 10a2 2 0 0 1 1.732 1h.768a.5.5 0 0 0 .5-.5V8.35a.5.5 0 0 0-.11-.312l-1.48-1.85A.5.5 0 0 0 13.02 6H12v4zm-9 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm9 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z">
                                    </path>
                                </svg>
                            </span>
                            <h2 class="text-lg font-bold text-gray-400">Free Shipping</h2>
                        </div>
                        <div class="mt-2 px-7">
                            <a class="text-sm text-blue-200" href="#">Get delivery dates</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full px-4 md:w-1/2 ">
                <div class="lg:pl-20">
                    <div class="mb-8 ">
                        <h2 class="max-w-xl mb-6 text-2xl font-bold text-gray-400 md:text-4xl">
                            Macbook Pro M130c90</h2>
                        <p class="inline-block mb-6 text-4xl font-bold text-gray-400 ">
                            <span>$1500.99</span>
                            <span
                                class="text-base font-normal text-gray-400 line-through">$1800.99</span>
                        </p>
                        <p class="max-w-md text-gray-400">
                            Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet
                            Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet Lorem ispum dor amet
                        </p>
                    </div>
                    <div class="flex mb-8 border-b border-gray-600">
                        <h2
                            class="flex-grow pb-1 mb-4 text-xl font-semibold text-gray-400">
                            Colors</h2>
                        <div class="flex flex-wrap -mx-2 -mb-2">
                            <button class="p-1 mb-2 mr-3 ">
                                <div class="w-6 h-6 rounded-full bg-stone-400"></div>
                            </button>
                            <button class="p-1 mb-2 mr-3 ">
                                <div class="w-6 h-6 bg-gray-700 rounded-full"></div>
                            </button>
                            <button class="p-1 mb-2 ">
                                <div class="w-6 h-6 bg-blue-200 rounded-full"></div>
                            </button>
                        </div>
                    </div>
                    <div class="flex mb-8 border-b border-gray-600">
                        <h2
                            class="flex-grow pb-1 mb-4 text-xl font-semibold text-gray-400">
                            RAM</h2>
                        <div>
                            <div class="flex flex-wrap -mb-2">
                                <button
                                    class="px-4 py-2 mb-2 mr-4 font-semibold border rounded-md  border-gray-400 hover:text-blue-600 hover:border-gray-300 text-gray-400">
                                    8 GB
                                </button>
                                <button
                                    class="px-4 py-2 mb-2 mr-4 font-semibold border rounded-md border-gray-400 hover:text-blue-600 hover:border-gray-300 text-gray-400">
                                    16 GB
                                </button>
                                <button
                                    class="px-4 py-2 mb-2 font-semibold border rounded-md border-gray-400 hover:text-blue-600 hover:border-gray-300 text-gray-400">
                                    1 TB
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="flex mb-8 border-b border-gray-600">
                        <h2
                            class="flex-grow pb-1 mb-4 text-xl font-semibold text-gray-400">
                            Storage</h2>
                        <div>
                            <div class="flex flex-wrap -mx-2 -mb-2">
                                <button onclick="toggleActive(this)"
                                    class="px-4 py-2 mb-2 mr-4 font-semibold border rounded-md hover:border-gray-300 border-gray-400 hover:text-blue-600 text-gray-400">
                                    256 GB
                                </button>
                                <button onclick="toggleActive(this)"
                                    class="px-4 py-2 mb-2 mr-4 font-semibold border rounded-md hover:border-gray-300 border-gray-400 hover:text-blue-600 text-gray-400">
                                    500 GB
                                </button>
                                <button onclick="toggleActive(this)"
                                    class="px-4 py-2 mb-2 mr-4 font-semibold border rounded-md hover:border-gray-300 border-gray-400 hover:text-blue-600 text-gray-400">
                                    1 TB
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="w-32 mb-8">
                        <label for="" class="block text-xl font-semibold text-gray-400">
                            <span class="border-b border-gray-600">Quantity</span>
                        </label>
                        <div class="relative flex flex-row w-full h-10 mt-6 bg-transparent rounded-lg">
                            <button
                                class="w-20 h-full text-gray-400 rounded-l outline-none cursor-pointer hover:bg-gray-700 dark:text-gray-400 hover:text-gray-700 bg-gray-900 ">
                                <span class="m-auto text-2xl font-thin">-</span>
                            </button>
                            <input type="number"
                                class="flex items-center w-full font-semibold text-center placeholder-gray-400 bg-gray-900 outline-none text-gray-400 focus:outline-none text-md hover:text-black"
                                placeholder="1">
                            <button
                                class="w-20 h-full  rounded-r outline-none cursor-pointer hover:bg-gray-700 text-gray-400 bg-gray-900 hover:text-gray-700">
                                <span class="m-auto text-2xl font-thin">+</span>
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-wrap items-center gap-4">
                        <button
                            class="font-semibold flex items-center justify-center w-full p-4 rounded-md lg:w-2/5 text-gray-200 border-blue-600 bg-blue-600 hover:bg-blue-700 hover:border-blue-700 hover:text-gray-300">
                            Add to cart</button>
                        <button
                            class="font-semibold flex items-center justify-center w-full p-4 rounded-md lg:w-2/5 text-gray-200 border-blue-600 bg-blue-600 hover:bg-blue-700 hover:border-blue-700 hover:text-gray-300">
                            Buy Now
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>