<section class="bg-gray-900 h-auto">
    <div class="flex justify-center md:justify-start w-full p-10"> <a href="/"><span
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 p-10 "><i
                    class="fa-solid fa-house mr-1"></i>Home</span></a>
    </div>
    <div class="flex flex-col items-center justify-center px-6 py-6 mx-auto -mt-20 mb-5 lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
            <img class="w-40 mr-2" src="img/1.png" alt="logo">
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Sign up for a Shipper account
                </h1>
                <h2 class="text-lg font-bold leading-tight tracking-tight md:text-xl">
                    <a href="/login" class="text-blue-600">
                      Already have an account?
                    </a>
                </h2>
                <form class="space-y-4 md:space-y-6" action="/signup-shipper" method="POST">
                    <div>
                        <input type="text" hidden value="shipper" name="role">
                    </div>
                    <div>
                        <label for="username"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
                        <input type="text" name="username" id="username"
                            class="bg-gray-50 border border-gray-300 text-gray-900 invalid:border-red-500 invalid:text-red-600 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            placeholder="userName123" pattern="[a-zA-Z0-9]{8,15}" required>
                        <p class="text-xs pt-2 text-gray-400">Must be 8 to 15 characters</p>
                    </div>
                    <div>
                        <label for="password"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
                        <input type="password" id="password" name="password"
                            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm  invalid:border-red-500 invalid:text-red-600 rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                            required placeholder="••••••••"
                            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,20}$">
                        <div class="text-xs pt-2 text-gray-400">
                            <ul>
                                <li>At least one upper case letter</li>
                                <li>At least one lower case letter</li>
                                <li>At least one digit</li>
                                <li>At least one special letter in this set "!@#$%^&*"</li>
                                <li>Must be 8 to 20 characters</li>
                            </ul>
                        </div>
                    </div>
                    <!-- Additional field for shipper -->
                    <div class="shipper-info role-info" id="hub">
                        <div class="inputBox">
                            <label for="hubid"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Distribution
                                Hub</label>
                            <select class="bg-gray-50 border border-gray-300 text-gray-900
                                  sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                  w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="hub"
                                name="hubid">
                                <option value="" disabled selected>Choose your Distribution Hub</option>
                                <option value="00000001db42a4ac30ff65d2">Ha Noi</option>
                                <option value="00000001db42a4ac30ff65d1">Ho Chi Minh City</option>
                                <option value="00000001db42a4ac30ff65d3">Da Nang</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="inputBox">
                            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                                Name</label>
                            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 invalid:border-red-500 invalid:text-red-600
                                      sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                      w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                      dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="name"
                                name="name" placeholder="Nguyen Cong Vinh" minlength="5">
                            <p class="text-xs pt-2 text-gray-400">Must be at least 5 characters</p>
                        </div>
                    </div>
                    <!-- Image upload field -->
                    <div class="inputBox">
                        <label for="avatar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                            Profile
                            Picture</label>
                        <input type="file"
                            class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 py-2"
                            id="avatar" name="avatar">
                    </div>
                    <button type="submit"
                        class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign
                        up</button>

                </form>
            </div>
        </div>
    </div>
</section>
<script src="javascript/signup.js"></script>