<section class="bg-gray-50 dark:bg-gray-900 p-5">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-40 mr-2" src="img/1.png" alt="logo">
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Sign up for a new account
        </h1>
        <form class="space-y-4 md:space-y-6" action="#">
          <div>
            <label for="role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select a
              Role:</label>
            <select id="role" name="role" id="role" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
              <option value="" disabled selected>Choose your role</option>
              <option value="customer">Customer</option>
              <option value="vendor">Vendor</option>
              <option value="shipper">Shipper</option>
            </select>
          </div>
          <div>
            <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
              username</label>
            <input type="text" name="username" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="userName123" required="">
          </div>
          <div>
            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
          </div>

          <!-- Additional fields for vendor -->
          <div class="vendor-info role-info" id="business-info" style="display: none;">
            <div class="inputBox">
              <label for="business_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Business Name</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900
                                    sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                    w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                    dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="business_name" name="business_name" placeholder="Samsung Electronics Inc.">
            </div>
          </div>

          <div class="vendor-info role-info" id="business-info" style="display: none;">
            <div class="inputBox">
              <label for="business_address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Business Address</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900
                                    sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                    w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                    dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="business_address" name="business_address" placeholder="129 Samseong-ro Yeongtong-gu Gyeonggi-do">
            </div>
          </div>

          <!-- Additional field for customer -->
          <div class="customer-info role-info" id="name-field" style="display: none;">
            <div class="inputBox">
              <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Name</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900
                                    sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                    w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                    dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="name" name="name" placeholder="John Doe">
            </div>
          </div>

          <div class="customer-info role-info" id="name-field" style="display: none;">
            <div class="inputBox">
              <label for="address" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your
                Address</label>
              <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900
                                    sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                    w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                    dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="address" name="address" placeholder="615 Magnolia Blvd">
            </div>
          </div>
          <!-- Additional field for shipper -->
          <div class="shipper-info role-info" id="hub" style="display: none;">
            <div class="inputBox">
              <label for="hub" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Distribution
                Hub</label>
              <select class="bg-gray-50 border border-gray-300 text-gray-900
                                sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block
                                w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="hub" name="hub">
                <option value="hanoi">Hanoi</option>
                <option value="hcm">Ho Chi Minh City</option>
                <option value="danang">Da Nang</option>
              </select>
            </div>
          </div>
          <!-- Image upload field -->
          <div class="inputBox">
            <label for="avatar" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your Profile
              Picture</label>
            <input type="file" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 py-2" id="avatar" name="avatar">
          </div>
          <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Sign
            up</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
<script src="javascript/signup.js"></script>