# Ignore files related to API keys
./node_modules
package-lock.json
.env

groupproject-be/node_modules/
groupproject-fe/scratch/1080P_TOKEN
groupproject-fe/scratch/1080P_USERID
groupproject-fe/scratch/1080P_USERID