<!-- RMIT University Vietnam 
Course: COSC2430 Web Programming 
Semester: 2023B
Assessment: Assignment 2 
Authors:  Tran Mai Nhung - s3879954          
          Tran Nguyen Ha Khanh - s3877707          
          Nguyen Vinh Gia Bao - s3986287          
          Ton That Huu Luan - s3958304          
          Ho Van Khoa - s3997024 
Acknowledgement:  -->
<section>
    <div class="bg-gray-800 border-gray-700 py-3 px-9 my-6 rounded-lg mx-auto max-w-2xl lg:py-6">
        <h1 class="text-center font-bold text-3xl my-4">
            <%= title %>
        </h1>
        <form action="/change-password" method="post">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                <div class="sm:col-span-2">
                    <label for="current_pw" class="block mb-2 text-sm font-medium text-white">Current
                        Password</label>
                    <input type="password" name="current_pw" id="current_pw"
                        class="border invalid:border-red-500 invalid:text-red-600 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
                </div>
                <div class="sm:col-span-2">
                    <label for="new_pw" class="block mb-2 text-sm font-medium text-white">New Password</label>
                    <input type="password" name="new_pw" id="new_pw"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[a-zA-Z\d!@#$%^&*]{8,20}$"
                        class="border invalid:border-red-500 invalid:text-red-600 text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
                    <div class="text-xs pt-2 text-gray-400">
                        <ul>
                            <li>At least one upper case letter</li>
                            <li>At least one lower case letter</li>
                            <li>At least one digit</li>
                            <li>At least one special letter in this set "!@#$%^&*"</li>
                            <li>Must be 8 to 20 characters</li>
                        </ul>
                    </div>
                </div>
            </div>
            <button type="submit"
                class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">Change
                password</button>
        </form>
    </div>
</section>