<html lang="en">

<head>
  <%- include ('./partials/head') %>
    <title>
      <%= title %>
    </title>
</head>

<body class="bg-gray-900">
  <!-- Pass bodyFile as filename -->
  <%- include(bodyFile) %>
  <%- include('./partials/alert') %>
</body>

</html>